img.avatar {
	--size: 2em;

	background-color: rgba(0, 0, 0, 0.3);
	border: 2px solid #8b4513;
	border-radius: 4px;
	height: var(--size);
	max-height: var(--size);
	max-width: var(--size);
	width: var(--size);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

img.avatar, svg {
    border-radius: 4.5em;
}

img.avatar.hidden {
	display: none;
}

img.avatar+svg {
	--size: 2.25em;

	display: none;
	height: var(--size);
	max-height: var(--size);
	max-width: var(--size);
	width: var(--size);
}

img.avatar.hidden+svg {
	border-color: transparent;
	display: initial;
	fill: #d4af37;
}

svg>use {
	height: 100%;
	width: 100%;
}

div, div>* {
	align-items: center;
	display: flex;
}

div>*:not(:nth-child(1 of :not(.hidden))), div>*>*:not(:nth-child(1 of :not(.hidden))) {
	margin-left: 0.5em;
}
